conda create --name FinalProject
conda create -n myenv python=3.9
pip install flask==3.0.2 flask-mysqldb==2.0.0 flask-cors==4.0.0 tensorflow==2.15.0 pillow==10.0.1 pip numpy==1.26.4


pip show flask
pip show tensorflow
pip show flask-mysqldb
pip show flask-cors
pip show pillow
pip show numpy